.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Watch-button:hover {
  background-color: #21a1f1;
}

.GenresPage {
  padding: 20px;
  text-align: center;
  background-color: #282c34;
  color: white; 
  min-height: 100vh;
}

.ContentTypeToggle button {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ContentTypeToggle .active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
}

.GenresList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.GenreButton {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.GenreButton:hover,
.GenreButton.selected {
  background-color: #007bff;
  color: white;
}

.Results {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ResultItem {
  width: 200px;
  text-align: center;
}

.ResultImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}

.Pagination-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

.Pagination-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.Pagination-info {
  font-size: 16px;
  font-weight: bold;
}


.Page-container {
  padding: 20px;
  color: white;
}

.Page-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5em;
  color: #21a1f1;
}

.Grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 100%; 
}

.Card-image {
  width: 100%;
  height: auto;
}

.Card-details {
  padding: 15px;
  flex-grow: 1;
}

.Card-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #fff;
}

.Card-date,
.Card-rating {
  font-size: 0.9em;
  margin-bottom: 5px;
  color: #ddd;
}

.Card-button {
  margin: 15px;
  padding: 10px 15px;
  font-size: 0.9em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #21a1f1;
  color: white;
  transition: background-color 0.3s ease;
}

.Card-button:hover {
  background-color: #1e90ff;
}

body.light {
  background-color: #f0f0f0;
  color: #333;
}

body.light .Navbar {
  background-color: #fff;
  color: #333;
}

body.light .Navbar-links .Navbar-link {
  color: #333;
}

body.light .theme-toggle-button {
  background-color: #f1f1f1;
  color: #333;
}

body.dark {
  background-color: #282c34;
  color: #fff;
}

body.dark .Navbar {
  background-color: #333;
  color: #fff;
}

body.dark .Navbar-links .Navbar-link {
  color: #fff;
}

body.dark .theme-toggle-button {
  background-color: #333;
  color: #fff;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
